services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/CryptoCloud
    volumes:
      - .:/app                # Sincroniza seu código (server.js, etc)
      - /app/node_modules     # Volume anônimo: protege os módulos internos do Docker
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: